---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - info.example.com
  resources:
  - fileinfoes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - info.example.com
  resources:
  - fileinfoes/finalizers
  verbs:
  - update
- apiGroups:
  - info.example.com
  resources:
  - fileinfoes/status
  verbs:
  - get
  - patch
  - update
